/*This is the unique external stylsheet file for the main page, navigation bar and footer*/
/*First part contents common styles that are needed for every student */
/*Second part contents styles that are needed for main page */

/* PART I*/

body{
  position: relative;
  z-index: 5;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  
}
/* navigation bar */

/* Create a sticky/fixed navbar */
#navbar {
  list-style-type: none;
  overflow: hidden;
  background-image:url('navbar_back.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  font-size: 90%;
  width:75%;
  margin: auto auto;
  border-radius: 5%;
  transition: 0.4s;
  z-index: 99;
}

#navbar #paths{
  margin: auto auto;
}

/* Style the navbar links */
#navbar a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 150%;
  color: white;
  line-height: 25px;
  border-radius: 4px;
}

/* Links on mouse-over */
#navbar a:hover {
  border-radius: 5%;
}

#navbar a.active {
  border-bottom: 2px solid rgb(255, 255, 255)
}

/* Style the logo */
#navbar #siteLogo{
  width:10%;
  height: 20%;
  border-radius: 5%;
  margin-top: 1%;
  font-weight: bold;
  transition: 0.4s;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 1200px) {
  #navbar {
    padding: 5px 5px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    font-size: 125%;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  #navbar-right {
    float: none;
  }
}


.footerPrimary {
  font-family:'Rubik', sans-serif ;
  position:static;
  left: 0;
  bottom: 0;
  margin-top: 20px;
  height: 200px;
  width: 100%;
  background-color: #00a8ff;
  color: white;
  text-align: center;
}

.footer_text{
  padding-top: 100px;
}


/*PART II*/

/* Container holding the image*/
.container1 {
  text-align: center;
  position:static;
}

#UK_SriLanka_LK_Header {
  width: 100%;
  height: 56%;
}

#cloud1, #cloud2, #cloud3, #cloud4 {
  width: 11%;
}

#cloud5, #cloud6{
  width: 13%;
}


.cloud {
  opacity: 0.8;
  width: 100%;
  max-width: 700px;
  height: auto;
}


#cloud1 {
  z-index: 1;
  position: absolute;
  top: -40px;
  left: -100px;
}

#cloud2 {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: -300px;
}

#cloud3 {
  z-index: 3;
  position: absolute;
  top: -400px;
  left: -200px;
}

#cloud4 {
  z-index: 4;
  position: absolute;
  top:-200px;
  left: 40px;
}

.aCard{
  padding: 5%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(182, 232, 255);
}

.headerText {
  font-size: 40px;
  font-family: 'Rubik', sans-serif ;
  text-align: center;
  background: #00a8ff;
  margin-bottom: 3%;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5%;
}

.webSiteDescriptionText {
  padding: 30px;
  font-family: 'Rubik', sans-serif ;
  background: #fed330;
  margin-bottom: 3%;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5%;
}

.cardsDescriptionText {
  padding-bottom: 5px;
  margin-top: 5%;
  font-family: 'Rubik', sans-serif ;
  background: white;
}

.newbadge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  font-size: x-large;
  border-radius: 5px;
}

.newbadge:hover {
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#logo{
  
  width: 20%;
  height: 5%;
  z-index: 5;
 
}
.destinationCards{
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  
}


.destination1Card {
  font-family:'Rubik', sans-serif ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  height: auto;
  text-align: center;
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 100px;
  margin-top: 100px;
  display: inline-block;
}

.destination1Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.destination1title {
  color: grey;
  font-size: 18px;
}

.destination1Button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.destination1Button:hover, a:hover {
  opacity: 0.7;
}

/*button group styles initiated from https://www.w3schools.com/howto/howto_css_button_group.asp*/

.btn-group {
  padding: 3%;
  text-align: center;
  margin: auto auto;
}

button {
  text-align: center;
  align-content: center;
  margin: auto auto;
  border-style: none;
  border-radius: 10px;
  
}

.btn-group button{
  text-align: center;
  align-content: center;
  margin: auto auto;
  margin-top: 5%;
  width: 25%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif ;
  font-weight: bold;
  font-size: 100%;
  background-color: #fed330; /* Yellow background */
  color: black; /* Black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: none; /* Float the buttons side by side */
}

.btn-group a{
  margin-left: 10%;
  text-align: center;
  align-content: center;
  margin: auto auto;
  margin-top: 5%;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif ;
  font-weight: bold;
  font-size: 100%;
  background-color: #fed330; /* Yellow background */
  color: black; /* Black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float:none; /* Float the buttons side by side */
  text-align: center;
  border-style: none;
  border-radius: 10px;
}

.btn-group a{
  color: #000;
  text-decoration: none;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ffffff;
}
.btn-group a:hover {
  background-color: #ffffff;
}


/* Responsive layout - when the screen is less than 800px wide, make the button group stack on top of each other instead of next to each other */
/* got from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media screen and (max-width: 1250px) {
  .btn-group{
   text-align: center;
   align-content: center;
   margin-top: 5%;
   

  }

  .btn-group button {
    width: 75%;
    padding: 10px 24px;
  }

  .btn-group a {
    width: 75%;
    padding: 10px 24px;
  }
}